@import 'title.css';

.about {
  text-align: center;
}

.about__title {
  margin-bottom: 25px;
}

.about__subtitle {
  margin-bottom: 35px;
  display: inline-block;
  position: relative;
}

.about__subtitle:before {
  content: "";
  width: 43px;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  left: -67px;
  transform: translateY(-50%);
}

.about__subtitle:after {
  content: "";
  width: 43px;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  right: -67px;
  transform: translateY(-50%);
}

.about__text {
  font-size: 18px;
  line-height: 25px;
  max-width: 724px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.about__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  counter-reset: count 0;
}

.about__item {
  flex-basis: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.about__item-icon {
  width: 122px;
  height: 122px;
  background-color: var(--blue-color);
  border-radius: 50%;
  position: relative;
  transition: transform .2s ease-in;
}

.about__item-icon:hover {
  transform: scale(1.1);
}

.about__item-icon:after {
  content: counter(count);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
  font-size: 57px;
  counter-increment: count;
}

.about__item-text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

input {
  display: none;
}

@media (max-width: 1024px) {
  .about__subtitle:before {
    width: 40px;
    left: -63px;
  }

  .about__subtitle:after {
    width: 40px;
    right: -63px;
  }

  .about__item {
    flex-basis: 180px;
  }

  .about__text {
    font-size: 16px;
    line-height: 23px;
  }

  .about__text-item {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 480px) {
  .about__text {
    font-size: 12px;
    line-height: 17px;
  }

  .slider {
    overflow: hidden;
    max-width: 480px;
  }

  .about__list {
    flex-wrap: nowrap;
    width: 400%;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    margin-bottom: 20px;
  }

  .about__item {
    width: 25%;
  }  

  #switch1:checked ~ .about__list{
    margin-left: 0;
  }
  #switch2:checked ~ .about__list{
    margin-left: -100%;
  }
  #switch3:checked ~ .about__list{
    margin-left: -200%;
  }
  #switch4:checked ~ .about__list{
    margin-left: -300%;
  }

  .slider__label {
    border-radius: 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #bbb;
  }

  .slider__label:not(:last-child) {
    margin-right: 20px;
  }

  .slider__label:hover {
    background: #76c8ff;
	  border-color: #777;
  }
}